<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
   <div class='container'>
   	<div class='card-header bg-secondary'><h2>Registration Page</h2></div>
   	 <div class='card-body bg-primary'>
   	  <label for='fname'>Fname</label>
   	  	  <input type="text" class="form-control" id="fname" placeholder="enter fname" name="fname">
   	  <label for='lname'>Lname</label>
   	    <input type="text" class="form-control" id="lname" placeholder="enter lname" name='lname'>
   	  <label for='rollno'>Rollno</label>
   	     <input type="rollnumber" class="form-control" id="rollno" placeholder="enter rollnumber" name="rollno">
   	  <label for="branch">Branch</label>
   	     <input type="branch" class="form-control" id="branch" placeholder="enter branch" name="branch">
   	  <label for="email">Email</label>
   	     <input type="email" class="form-control" id="email" placeholder="enter email address" name="email">
   	 </div>
   	 <div class="card-footer bg-success">
   	 	<button type="button" name="submit">Submit</button> 
   	 </div>
   </div>

</body>
</html>